body {
  background-image: url(https://img.keaitupian.cn/newupload/05/1683621565610736.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
