body {
  background-image: url(https://th.bing.com/th/id/OIP.FYx55PIoNajL-lEV5UhFlAHaNK?rs=1&pid=ImgDetMain);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
