body {
  background-image: url(https://ts1.cn.mm.bing.net/th/id/R-C.d68b2f41e84ab279fe621f24b46bb5fb?rik=UUQONWrYPtw5RA&riu=http%3a%2f%2fp5.qhmsg.com%2ft01926031108075d9f0.gif&ehk=Y1jvdMvMfvtLXoyLCTr2EDCqR1r8gTZKe%2bV1Y5503%2fk%3d&risl=&pid=ImgRaw&r=0);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
